$header_menu_height: 64px;
$header_menu_line_height: 64px;
$header_border_color: #e0d8d7;
$mobile_header_menu_height: 56px;
$mobile_header_menu_line_height: 56px;

$mobile_menu_item_border_color: #525252;
.header-menu {
  max-height: $header_menu_height;
  line-height: $header_menu_line_height;
  border-bottom: 1px solid $header_border_color;
  position: static;
  & .menu-items {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    & li {
      display: inline-block;
      font-size: $body_font_size;
      font-weight: $body_font_weight;
      cursor: pointer;
      padding: 0px 15px 0px 15px;
    }
  }
}
.mobile-header-menu {
  max-height: $mobile_header_menu_height;
  line-height: $mobile_header_menu_line_height;
}
.mobile-menu-sidebar {
  margin-top: 56px;
  background: $text_primary;
  & .list-group {
    border-radius: 0px !important;
    & .list-group-item {
      background-color: $text_primary;
      border-bottom: 1px solid $mobile_menu_item_border_color;
      font-size: 14px !important;
      color: #fff !important;
      text-transform: uppercase;
      padding: 20px;
    }
  }
}
